
.cat {
    width: 120px;
    float: left;
    margin-right: 30px; 
    margin-top: -30px;
}

.cat img{
    width: 100%;
}

.hidden {
    display: none;
}


cite {
    margin-left: 50px;
    font-style: italic;
    font-size: 8px;
    color: rgb(255, 255, 255);
    }

body {
   background-image: url(../images/background.jpg);
   background-size: cover;
   font-family: verdana;
   
}

h1 { 
    font-family: 'Bungee Shade'; 
    font-size: 90px;
    color: rgb(0, 0, 0);
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-top: -35px;
}

hr {
    background-color: rgb(24, 30, 44); height: 10px; border: 0; margin-top: -30px;
}

    
h2{
    color:rgb(0, 0, 0); 
    text-align: center;
    font-size: 30px;
}

h5{
    margin-top: -8px;
    color: red;
    margin-left: 70px;
}
    
p{
    color:rgb(0, 0, 0);
    font-size: 15px;
    
}

form{ 
    margin-left: 550px;
}

label {
    display: inline-block;
    width: 170px;
    text-align: right;
  }


.required {
    color: red;
}

button {
    margin-left: 300px;
}

nav a:link, a:visited, a:active {
    color: black;
    background-color: rgb(126, 126, 126);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}   

nav a:hover {
    color: rgb(72, 72, 72);
    background: lightgrey;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: underline;
}

nav {
    float: right;
    line-height: 70px;
    margin-top: 70px;
    margin-right: 20px;
}
  
nav li {
    display: inline-block;
    margin-right: 10px;
    line-height: normal;
}
